:root {
  --bs-body-font-family: "Roboto", sans-sereif;
}
body {
  background-color: #fff9d0;
  padding-left: 30px;
  padding-right: 30px;
}
.btn-custom:hover {
  color: #1b0249;
}
.btn-custom {
  color: rgb(248, 240, 244);
}
.btn-custom {
  transition: transform 0.3s ease;
}
.para {
  font-family: "Modern Antiqua", serif;

  font-style: normal;
  font-size: 2em;
}
.biro {
  font-family: "Oswald", serif;
  font-weight: 4em;
  font-style: normal;
  font-size: 4em;
}
.intro {
  font-family: "Modern Antiqua", serif;
  font-weight: 400;
  font-style: normal;
}
.btn-custom:hover {
  transform: scale(1.2);
}
.nav-bg {
  background-color: #5ab2ff;
  border-radius: 0 0 20px 20px;
}
.bg-hero {
  border-radius: 20px;
  background: linear-gradient(300deg, #5ab2ff, #fff9d0, #a0deff);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.hero-section {
  display: flex;
  align-items: center;
}
.hero-text {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  padding-left: 50px;
}
.hero-image img {
  max-width: 100%;
}
.intro-bg {
  background-color: #caf4ff;
  border-radius: 20px;
}
.image-container {
  position: relative;
  overflow: hidden;
}

.image-container img {
  transition: transform 0.3s ease;
}

.image-container:hover img {
  transform: scale(1.1);
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  opacity: 0; /* Initially invisible */
  transition: opacity 0.3s ease;
}

.image-container:hover .image-overlay {
  opacity: 1; /* Fade in on hover */
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}
.custom-my {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
}
.custom-my:hover {
  transform: scale(1.1);
  background-color: #0056b3;
  color: #fff9d0;
}
footer {
  border-radius: 20px 20px 0 0;
}
.footer {
  background-color: #5ab2ff;
  color: white;
  padding: 20px 0;
}

.social-icons a {
  color: white;
  margin: 0 10px;
  font-size: 24px;
  transition: transform 0.3s ease;
  display: inline-block;
}
.social-icons a:hover {
  transform: scale(1.2);
}

.footer .social-icons .fb:hover {
  color: #2b0ae4;
}
.footer .social-icons .twitter:hover {
  color: #060607;
}
.footer .social-icons .instagram:hover {
  color: #f10e78;
}
.footer .social-icons .linkedin:hover {
  color: #3e62a5;
}

.custom-shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.red-bg {
  padding: 20px;
  border-radius: 20px;
  background: linear-gradient(300deg, #5ab2ff, #fff9d0, #a0deff);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.hero-text-hi {
  text-align: center;
  font-size: 100px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
.hero-image-hi img {
  max-width: 100%;
  max-height: 50%;

  margin: 125px 0px;
}
.image-container-hi img {
  transition: transform 0.3s ease;
}

.image-container-hi:hover img {
  transform: scale(1.04);
}
.form-container {
  max-width: 700px; /* Set the desired width */
  margin: 0 auto; /* Center the form */
  padding: 20px;
  background-color: #a0deff;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
